/* form  */
.form {
    border: 3px solid #024e76;
    background-color: #44433e;
    padding: 20px;
    width: 500px;
    color: white;
    /* position: relative; */
    bottom: 120px;
    right: 140px;
  }
  
  .form h3 {
    font-size: 24px;
    margin: 0;
  }
  .form p {
    margin: 5px 0 15px 0;
  }
  
  .form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 80%;
    margin-bottom: 15px;
  }
  
  .form label {
    margin: 0 5px;
  }
  
  .form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }

