#contact {
    margin-top: -100px;
    padding-top: 130px;
}
h1 {
    font-family: 'Lucida Handwriting', cursive;
}
h3 {
    font-family: 'Lucida Console'
}
h5 {
    font-family: 'Lucida Console'
}



