.App {
  text-align: center;
  background-color: #37383a;
}

.App-header {
  background-color: #37383a;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}
.App-logo {
  width: 400px;
}

.gradient_bg {
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

.gradient_bg_1 {
   /* ff 3.6+ */
   background:-moz-radial-gradient(circle at 50% 50%, rgba(255, 75, 92, 1) 0%, rgba(143, 143, 143, 1) 100%);

   /* safari 5.1+,chrome 10+ */
   background:-webkit-radial-gradient(circle at 50% 50%, rgba(255, 75, 92, 1) 0%, rgba(143, 143, 143, 1) 100%);

   /* opera 11.10+ */
   background:-o-radial-gradient(circle at 50% 50%, rgba(255, 75, 92, 1) 0%, rgba(143, 143, 143, 1) 100%);

   /* ie 10+ */
   background:-ms-radial-gradient(circle at 50% 50%, rgba(255, 75, 92, 1) 0%, rgba(143, 143, 143, 1) 100%);

   /* global 92%+ browsers support */
   background:radial-gradient(circle at 50% 50%, rgba(255, 75, 92, 1) 0%, rgba(143, 143, 143, 1) 100%);


}

