@import url('https://cdn.syncfusion.com/ej2/material.css');

.App {
  text-align: center;
  background-color: #37383a;
  /* box-sizing: border-box; */
}

.App-header {
  background-color: #37383a;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}
.App-logo {
  width: 400px;
}

.gradient_bg {

  /* ff 3.6+ */
  background:-moz-linear-gradient(216deg, rgba(0, 40, 83, 1) 40%, rgba(255, 75, 92, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(216deg, rgba(0, 40, 83, 1) 40%, rgba(255, 75, 92, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(216deg, rgba(0, 40, 83, 1) 40%, rgba(255, 75, 92, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF4B5C', endColorstr='#002853', GradientType=1 );

  /* ie 10+ */
  background:-ms-linear-gradient(216deg, rgba(0, 40, 83, 1) 40%, rgba(255, 75, 92, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(216deg, rgba(0, 40, 83, 1) 40%, rgba(255, 75, 92, 1) 100%);

}


.e-calendar .e-content thead, .e-bigger.e-small .e-calendar .e-content thead {
  background: aquamarine;
}