.App {
  text-align: center;
}

.App-header {
  background-color: #37383a;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: calc(10px + 2vmin);
}
.App-logo {
  width: 400px;
}

header nav {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-right: 5px;
  float: right;

}
.nav-link :hover{
  margin-right: 5px;
  color: green;
}

.countdownHeader {
  text-align: center;
}

/* form  */
.hero-form {
  border: 3px solid #024e76;
  background-color: #44433e;
  padding: 20px;
  width: 500px;
  color: white;
  /* position: relative; */
  bottom: 120px;
  right: 140px;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}
.hero-form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 80%;
  margin-bottom: 15px;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

