* {
    box-sizing: border-box;
  }
  main  {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}


  
  .countdownHeader {
    text-align: center;
  }
  
  



